
// Parameters
params {
    // Required params - defaults to testing data
    // HACK THE DIRECTORIES HAVE TO BE ABSOLUTE ONES
    outdir = "$projectDir/out"
    assemblypath = "$projectDir/input_test"
    hostdata = "$projectDir/input_test/metadata.csv"

    // Metadata column names
    assembly_column="Filename"
    host_column="Source.Host"
    region_column="Region"
    year_collected="Year"

    // Clonal cluster cheking params
    check_clonal=true // placeholder - doesnt currently do anything
    snp_dist_threshold=10

    // Assembly quality thresholds
    as_ln_upr = 6000000
    as_ln_lwr = 4000000
    ctg_count = 500
    largest_ctg = 100000
    n50 = 50000
    gc_upr = 54
    gc_lwr = 50

    // Computing parameters
    // TODO The multithreading r package fails so model_threads is a placeholder
    threads = 10 
    model_threads=5

    // Prokka reference file
    prokka_ref = "$projectDir/data/stm_proteinref.fasta"

    // AMRfinder parameters
    amr_species='Salmonella'

    // Panaroo parameters
    panaroo_mode = 'moderate'

    // Snippy parameters
    snp_ref = "$projectDir/data/stm_sl1344.fasta"

    help = false
}
// TODO add tool-specific options like options = "-evalue 1e-3"

// Docker containters
docker {
    enabled = true
}

process {
    withName:assembly_qc {
        container = 'staphb/quast:5.0.2'
    }
    withName:prokka_annotation {
        container = 'staphb/prokka:1.14.5'
    }
    withName:amrfinder {
        container = 'staphb/ncbi-amrfinderplus:3.10.5'
    }
    withName:piggy {
        container = 'staphb/piggy:1.5'
    }
    withName:panaroo {
        container = 'quay.io/biocontainers/panaroo:1.2.3--py_0'
    }
    withName:snippy {
        container = 'staphb/snippy:4.6.0'
    }
    withName:snippy_core {
        container = 'staphb/snippy:4.6.0'
    }
    withName:gen_scoary_traitfile {
        container = 'rocker/tidyverse:4.0.5'
    }
    withName:scoary_igr {
        container = 'quay.io/biocontainers/scoary:1.6.16--py_2'
    }
    withName:scoary_pv {
        container = 'quay.io/biocontainers/scoary:1.6.16--py_2'
    }
    withName:snp_dists {
        container = 'staphb/snp-dists:0.8.2'
    }
    withName:clonal_detection {
        container = 'rocker/tidyverse:4.0.5'
    }
    withName:amr_process {
        container = 'rocker/tidyverse:4.0.5'
    }
    withName:igr_process {
        container = 'rocker/tidyverse:4.0.5'
    }
    withName:pv_process {
        container = 'rocker/tidyverse:4.0.5'
    }
    withName:snp_process {
        container = 'rocker/tidyverse:4.0.5'
    }
    withName:model_building {
        container = 'annitachalka/r_model_build:1.01'
    }
    withName:model_building_human {
        container = 'annitachalka/r_model_build:1.01'
    }
}

// Reporting
timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}

manifest {
name = 'sTM Host Attribution - Model Building'
author = 'Antonia Chalka'
homePage = 'https://github.com/Antonia-Chalka/stm_ml_pipeline'
description = 'A pipeline to create host attribution random forest models based on SNPs, PVs, IGRs & AMR Profiles from a set of assemblies.'
mainScript = 'pipeline_dsl2.nf'
nextflowVersion = '21.10+'
version = '1.0.0'
}
