process {
    withName:assembly_qc {
        container = 'staphb/quast:5.0.2'
    }
    withName:prokka_annotation {
        container = 'staphb/prokka:1.14.5'
    }
    withName:amrfinder {
        container = 'staphb/ncbi-amrfinderplus:3.10.5'
    }
    withName:roary {
        container = 'staphb/piggy:1.5'
    }
    withName:piggy {
        container = 'staphb/piggy:1.5'
    }
    withName:panaroo {
        container = 'quay.io/biocontainers/panaroo:1.2.3--py_0'
    }
    withName:snippy {
        container = 'staphb/snippy:4.6.0'
    }
    withName:snippy_core {
        container = 'staphb/snippy:4.6.0'
    }
    withName:gen_scoary_traitfile {
        container = 'rocker/tidyverse:4.0.5'
    }
    withName:scoary_igr {
        container = 'quay.io/biocontainers/scoary:1.6.16--py_2'
    }
    withName:scoary_pv {
        container = 'quay.io/biocontainers/scoary:1.6.16--py_2'
    }
    withName:snp_dists {
        container = 'staphb/snp-dists:0.8.2'
    }
    withName:clonal_detection {
        container = 'rocker/tidyverse:4.0.5'
    }
    withName:amr_process {
        container = 'rocker/tidyverse:4.0.5'
    }
    withName:igr_process {
        container = 'rocker/tidyverse:4.0.5'
    }
    withName:pv_process {
        container = 'rocker/tidyverse:4.0.5'
    }
    withName:snp_process {
        container = 'rocker/tidyverse:4.0.5'
    }
    withName:model_building {
        container = 'annitachalka/r_model_build:1.01'
    }
}

docker {
    enabled = true
}