process {
    withName:assembly_qc {
        container = 'staphb/quast:5.0.2'
    }
    withName:prokka_annotation {
        container = 'staphb/prokka:1.14.5'
    }
    withName:amrfinder {
        container = 'staphb/ncbi-amrfinderplus:3.10.5'
    }
    withName:roary {
        container = 'staphb/piggy:1.5'
    }
    withName:piggy {
        container = 'staphb/piggy:1.5'
    }
    withName:panaroo {
        container = 'quay.io/biocontainers/panaroo:1.2.3--py_0'
    }
    withName:snippy {
        container = 'staphb/snippy:4.6.0'
    }
    withName:snippy_core {
        container = 'staphb/snippy:4.6.0'
    }
    withName:gen_scoary_traitfile {
        container = 'rocker/tidyverse:4.0.5'
    }
}

docker {
    enabled = true
}