singularity {
  enabled = true
}

process {
    withName:assembly_qc {
        container = 'quast_5.0.2.sif'
        cpus = 1
        memory = 1G
    }
    withName:prokka_annotation {
        container = 'prokka_1.14.5.sif'
        cpus = 8
        memory = 14G
    }
    withName:amrfinder {
        container = 'ncbi-amrfinderplus_3.10.5.sif'
        cpus = 3
        memory = 1G
    }
    withName:piggy {
        container = 'piggy_1.5.sif'
        cpus = 10
        memory = 3G      
    }
    withName:panaroo {
        container = 'panaroo_1.2.9--pyhdfd78af_0.sif'
        cpus = 10
        memory = 4G
    }
    withName:snippy {
        container = 'snippy_4.6.0.sif'
        cpus = 10
        memory = 4G
    }
    withName:snippy_core {
        container = 'snippy_4.6.0.sif'
        cpus = 10
        memory = 5G
    }
    withName:gen_scoary_traitfile {
        container = 'tidyverse_4.0.5.sif'
        cpus = 1
        memory = 1G
    }
    withName:scoary_igr {
        container = 'scoary_1.6.16--py_2.sif'
        cpus = 6
        memory = 8G
    }
    withName:scoary_pv {
        container = 'scoary_1.6.16--py_2.sif'
        cpus = 6
        memory = 8G
    }
    withName:snp_dists {
        container = 'snp-dists_0.8.2.sif'
        cpus = 3
        memory = 13G
    }
    withName:clonal_detection {
        container = 'tidyverse_4.0.5.sif'
        cpus = 1
        memory = 1G
    }
    withName:amr_process {
        container = 'tidyverse_4.0.5.sif'
        cpus = 1
        memory = 5G
    }
    withName:igr_process {
        container = 'tidyverse_4.0.5.sif'
        cpus = 1
        memory = 5G
    }
    withName:pv_process {
        container = 'tidyverse_4.0.5.sif'
        cpus = 1
        memory = 5G
    }
    withName:snp_process {
        container = 'tidyverse_4.0.5.sif'
        cpus = 1
        memory = 5G
    }
    withName:model_building {
        container = 'r_model_build_1.01.sif'
        cpus = 5
        memory = 5G
    }
    withName:model_building_human {
        container = 'r_model_build_1.01.sif'
        cpus = 5
        memory = 5G
    }
    withName:get_igr_fastas {
        container = 'seqtk.1.3.sif'
    }
    withName:get_pv_fastas {
        container = 'seqtk.1.3.sif'
    }
    withName:blast {
        container = 'blast.2.12.0.sif'
    }
    withName:makeblastdb {
        container = 'blast.2.12.0.sif'
    }
}